{
  "name": "{{ workspace_name }}",
  "image": "mcr.microsoft.com/devcontainers/base:ubuntu",
  "remoteUser": "vscode",
  "updateRemoteUserUID": true,
  "workspaceFolder": "{{ workspace_folder }}",
  "init": true,
  "features": {{ features | tojson(indent=2) }},
  "mounts": [
    {% for mount in mounts %}
    "{{ mount }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "runArgs": [
    {% for arg in run_args %}
    "{{ arg }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "customizations": {
    "vscode": {
      "extensions": [
        {% for ext in extensions %}
        "{{ ext }}"{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "settings": {{ settings | tojson(indent=2) }}
    }
  },
  "postCreateCommand": "./.devcontainer/scripts/post-create.sh",
  "postStartCommand": "./.devcontainer/scripts/post-start.sh"
}
